@font-face {
    font-family: "FatFrank";
    src: url("../fonts/FatFrank-Heavy.ttf");
}

@font-face {
    font-family: "AvenirBlack";
    src: url("../fonts/Avenir Black.ttf");
}

@font-face {
    font-family: "AvenirMedium";
    src: url("../fonts/Avenir Medium.ttf");
}

.dashboard-container {
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        'sidebar top-panel top-panel top-panel'
        'sidebar main main main';
    height: 90vh;
    width: 1200px;
    min-width: 1000px;
    margin: 30px;
    background-color: white;
    border-radius: 20px; 
    overflow: hidden; 
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #1226AA;
    grid-column: 1 / 2; 
    grid-row: 1 / 3;
}

.sidebar button {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 4px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    align-self: center;
    width: 60%;
    font-family: "AvenirBlack";
}

#Logo {
    margin: 0px;
    background-color: #1226AA;
}

#Logo img {
    width: 60%; 
    background-color: #1226AA;
}

.sidebar ul {
    margin: 0; 
    padding: 0; 
}

.sidebar h1 {
    padding: 15px 15px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    display: flex;
    background-color: #1226AA;
    text-decoration: underline;
    font-family: "FatFrank";
}

.sidebar li:hover {
    background-color: #79A3DC;
}
.highlighted {
    background-color: #4665C3 !important; 
}

.sidebar li {
    padding: 15px 15px;
    margin: 0;
    color: #ffffff;
    font-size: 18px; 
    display: flex;
    background: #1226AA;
    align-items: center;
    cursor: pointer;
    font-family: "AvenirBlack";
}

.top-panel {
    background-color: #79A3DC;
    padding: 15px; 
    grid-area: top-panel;
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

#Search {
    margin-left: 10px; 
    background-color: #79A3DC;
}

#Search img {
    width: 24px; 
    height: 24px;
    background-color: #79A3DC;
}


input[type=text] {
    border: 2px solid #79A3DC; 
    transition: all 0.3s ease-in-out; 
    background-color: white;
    border-radius: 5px;
}

input[type=text]:hover,
input[type=text]:focus {
    border-color: #4a69bd; 
}

button[type=submit] {
    background-color: #79A3DC
}

button[type=submit]:active {
    background-color: #1226AA;
}

button[type=submit]:hover
 {
    background: #1226AA;
    cursor: pointer;
}

 .top-panel .button {
    white-space: nowrap;
    font-size: 15px;
    padding: 4px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "AvenirBlack";
}

 .top-panel .button-red {
    background-color: red;
}

 .top-panel .button-blue {
    background-color: #1226AA;
}

 .top-panel .button-center {
    margin-right: 15px;
    display: inline-block;
}

.search-container {
    width: 265px;
    height: 30px;
    display: flex;
}

.top-panel .search-textbox {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: "AvenirMedium";
}

.top-panel .search-icon-submit {
    width: 35px;
    height: 100%;
    border: none;
    outline: none;
}



