.wrapper {
    position: absolute;
    top: 70px; 
    right: 0;
    width: calc(100% - 300px);
    height: calc(100% - 70px);
    background-color: white;
    overflow: auto;
}

.wrapper-inner {
    padding-bottom: 20px;
}

.subcategory {
    font-family: "FatFrank";
}

.accordion {
    background-color: white;
}

.dashboard-area {
    background-color: white;
    margin: 10px;
}

.item {
    background-color: white;
    margin: 5px 20px;
    padding: 0px 20px;
    border: 2px solid #1226AA;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    cursor: pointer;
    font-family: "AvenirBlack";
    font-size: large;

    h3, span {
        background-color: transparent;
    }
}

.content {
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    font-family: "AvenirMedium";
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content.show {
    max-height: none;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

.content-inner {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-image {
    height: 300px;
    margin: 10px;
}

h3, span{
    background-color: transparent;
}

.edit-drop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edit-button {
    border: none;
    align-items: right;
}

.edit-button button {
    width: 50px;
    border-style: solid;
    border-color: #1226AA;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #79A3DC;
    font-family: "avenirMedium";
}

.edit-button button:hover {
    background-color: #b2cff7;
    cursor: pointer;
  }

.drop-icons {
    display: flex;
    align-items: center;
    height: 2em;
    width: 2em;
    background-color: rgba(0, 0, 0, 0);
}

.category-header > h2, .sub-category ul, .sub-category li {
    background-color: white;
}
.sub-category li {
    list-style: none;
}

.accordion .item .content table {
    background-color: white;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    border-spacing: 0 10px;
    width: 400px;
}

.accordion .item .content th {
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
}