.wrapper {
    position: absolute;
    top: 70px; 
    right: 0;
    width: calc(100% - 300px);
    height: calc(100% - 70px);
    background-color: white;
    overflow: auto;
}

.subcategory {
    font-family: "FatFrank";
}

.accordion {
    background-color: white;
    margin-top: 10px;
}

.item {
    background-color: white;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 0px 20px;
    border-style: solid;
    border-width: 2px;
    border-color:#1226AA;
    border-radius: 5px;
    filter: drop-shadow(3px 3px rgba(0,0,0,0.2));
}

.title {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    font-family: "AvenirBlack";
}

.content {
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    padding-bottom: 5px;
    font-family: "AvenirMedium";
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

h3, span{
    background-color: transparent;
}

.dropdownIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    background-color: rgba(0, 0, 0, 0);
}

.dropdownIcons img {
    max-height: 100%;
    max-width: 100%;
    font-family: "AvenirMedium";
}

.edit-and-icons {
    display: flex;
    align-items: center;
    z-index: 1;
}

img {
    background-color: transparent
}
.category-header > h2, .sub-category ul, .sub-category li {
    background-color: white;
}
.sub-category li {
    list-style: none;
}

table {
    background-color: white;
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
    border-spacing: 0 10px;
}

th {
    background-color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

