.dropzonecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-right: 10px;
}

.dropzonebox {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px dashed #000000;
    border-radius: 10px;
    
   
}

.images {
    justify-self: center;
    align-items: center;
    margin: 10px;
    object-fit: cover;
    margin-left: 0;
}

.images img {
    max-width: 500px;
    max-height: 400px;
    object-fit: contain;
}
.dropzone h2 {
    font-size: 3vh;
}