@font-face {
  font-family: "FatFrank";
  src: url("../fonts/FatFrank-Heavy.ttf");
}

@font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/Avenir Black.ttf");
}

@font-face {
  font-family: "AvenirMedium";
  src: url("../fonts/Avenir Medium.ttf");
}

.editcontainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px;
  background-color: white;
  overflow: hidden; 
  
  border: 2px solid #1226AA;
  border-radius: 20px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-bottom: 0px;
}

.header-content {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "FatFrank";
  font-size: 2.6vh;
}

.img-edit {
  height: 120px;
}

.editcontainer button {
  background-color: #79a3dc;
  color: white;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 15vw;
  margin: 5px auto;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
  font: normal normal normal 18px/1.4em "AvenirMedium";
}

.editcontainer button:hover {
  background-color: #b2cff7;
  cursor: pointer;
}

.editcontainer .delete-button {
  width: 8vw;
  align-items: center;
}

.contentcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.datacolumns {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 40px;
}

.editcontainer .contentcontainer table {
  border-collapse: collapse;
  width: 40%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #1226AA;
  padding: 5px 10px;
  text-align: center;
  font-family: "AvenirBlack";
  font-size: 1.8vh;
}

tr:nth-child(even) {
  background-color: #d2e0f3;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.yeardata2 {
  width: 5vw;
  font-size: 1.8vh;
  padding: 8px;
  font-family: "AvenirMedium";
}

.valuedata2 {
  width: 5vw;
  padding: 8px;
  font-size: 1.8vh;
  font-family: "AvenirMedium";
}
.dropzone {
  width: 40%;
}