  .img-edit {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
    width: 265px;
    height: auto;
  }

  .editcontainer {
    padding-top: 85px;
    width: 95%;
  
    color: #1226aa;
  }

  .editcontainer button {
    background-color: #79a3dc;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .editcontainer button:hover {
    background-color: #b2cff7;
    cursor: pointer;
  }

  .contentcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .datacolumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .yearcolumn {
    margin-right: 20px;
  }

  .yeardata {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .yeardata2 {
    width: 50px;
    padding: 5px; 
  }

  .valuecolumn {
    margin-bottom: 10px;
  }

  .valuedata {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }

  .valuedata2 {
    width: 50px;
    padding: 5px;
  }

