@font-face {
    font-family: "AvenirBlack";
    src: url("../fonts/Avenir Black.ttf");
}

@font-face {
    font-family: "AvenirMedium";
    src: url("../fonts/Avenir Medium.ttf");
}

.formtext {
    padding-left: 40px;
    color: #1226AA;
    border: #1226AA solid 2px !important;
    border-radius: 5px;
    width: 45%;
    height: 35px;
    margin: 8px;
    background-color: white;
    position: relative;
    font-family: "AvenirMedium";
}

.input-container {
    position: relative;
}

.icon {
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 20px;
    z-index: 1;
    color:#1226AA;
    background-color: white;
  }
  

::placeholder {
    color: #1226AA;
}

input:focus::placeholder {
    color:transparent;
}

#submitbtn {
    background-color: #79A3dc;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: large;
    font-family: "AvenirBlack";
}

#submitbtn:hover {
    cursor: pointer;
    background-color: #6596da;
}

#submitbtn, .dashboard {
    display: block;
    margin: 16px auto;
}

.error-container.error {
    color: darkred;
    font-size: 1em;
    font-size: small;
}

.error-container.success {
    color: darkgreen;
    font-size: 1em;
    font-size: small;
}

.forgot-password {
    background-color: #79A3dc;
    margin-top: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: large;
    font-family: "AvenirBlack";
}

.forgot-password:hover {
    cursor: pointer;
    background-color: #6596da;
}

.dashboard {
    background-color: #79A3dc;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: large;
    font-family: "AvenirBlack";
}

.dashboard:hover {
    cursor: pointer;
    background-color: #6596da;
}

