.img-password {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
  }

  .passwordcontainer {
    padding-top: 85px;
    width: 95%;
    position: relative;
    color: #1226aa;
  }
  
  .label-text {
    width: 200px; /* Fixed width for labels */
    display: inline-block;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .change-password-input {
    color: #1226aa;
    border: #1226aa solid 2px;
    border-radius: 5px;
    width: 25%; /* Adjusted width for input fields */
    height: 35px;
    margin: 8px;
    background-color: white;
    padding-left: 10px; /* Adjusted padding to align with labels */
  }
  
  .passwordcontainer button {
    background-color: #79a3dc;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
  }
  
  .passwordcontainer button:hover {
    background-color: #b2cff7;
  }
  
  ::placeholder {
    color: #1226aa;
  }
  