* {
    background-color: #F2Dab2;
}

.container {
    padding-top: 30%;
    width: 550px;
}
.logo {
    width: 80px;
    
}
img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
}